In [1]:
import pandas as pd
import numpy as np
import os
import pathlib

In [23]:
#read the only the customer number.xlsx file
df = pd.read_excel('only_the_customer_number.xlsx', sheet_name='Sheet1')
#clean the NaN values
df = df.dropna()
df

      Customer number
0             15008.0
2             15009.0
7             15010.0
15            15014.0
24            15017.0
...               ...
1675          92101.0
1676          92201.0
1677          92204.0
1679          92205.0
1681          92207.0

[404 rows x 1 columns]